
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Content/js/jquery-3.3.1.min.js"></script>
</head>
<body>
    <div> 
        <textarea id="ckeditor"></textarea>
    </div>
    <script src="~/Content/library/ckeditor/ckeditor.js" type="text/javascript"></script>
    <script type="text/javascript">
        CKEDITOR.replace('ckeditor');
 //{
 //    filebrowserBrowseUrl: '/ckfinder/ckfinder.html',
 //    filebrowserImageBrowseUrl: '/ckfinder/ckfinder.html?type=Images',
 //    filebrowserUploadUrl: '/ckfinder/connector?command=QuickUpload&type=Files',
 //    filebrowserImageUploadUrl: '/ckfinder/connector?command=QuickUpload&type=Images'
 //});
    </script>
</body>
</html>
