@using demo_web.Models;
@model List<type>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @{
            List<sp> sp = ViewBag.sp;
        } 
       @{
           foreach (var n in Model)
           {
            <div>@n.name</div>
            <div>
                @{ 
                    foreach(var m in sp.Where(m=>m.id_type==n.id).ToList())
                    {
                        <div>@m.name</div>
                    }
                }
            </div>
           }
    }
      
        
    </div>
</body>
</html>
